#Arg{
   background-color: antiquewhite;
   color: rgb(2, 103, 5);
     font-size:18px ;
     image-rendering:optimizeQuality;
}
.Carlos{
   color: whitesmoke;
      background-color: darkseagreen;
}

h2{
   color: #FAF8F1;
   background-color:#C58940 ;
}
.Messi{
   background-color: antiquewhite;
                color:  rgb(2, 103, 5);
}


   